// COLORS.
// Contains colors to be used across all sass files.

$black: #333;
$gray: #999;
$white: #eee;
$transparent: transparent;

$background: $white;
$primary: #ffe600;
$secondary: #3982f3;

$background--dark: #1e1e1e;
$primary--dark: #ffe600;
$secondary--dark: #3982f3;
