// COLORS.
// Contains colors to be used across all sass files.

$black: #333;
$gray: #999;
$white: #eee;
$transparent: transparent;

$backgroundColor: $white;
$primaryColor: #ffe600;
$secondaryColor: #3982f3;

$backgroundColor--dark: #1e1e1e;
$primaryColor--dark: #ffe600;
$secondaryColor--dark: #3982f3;
