@use '~/scss/variables/mediaQuerySizes' as mediaQuerySizes;
@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/fontSizes' as fontSizes;
@use '~/scss/variables/layout' as layout;

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listItem {
  @media only screen and (max-width: 250px) {
    flex-direction: column;
  }
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px auto;
  width: 98%;

  .imageContainer {
    border-radius: 10px;
    height: auto;
    margin: 15px;
    min-width: 40px;

    .img {
      margin: auto;
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 100%;

    .descriptionUpperPart {
      @media #{mediaQuerySizes.$extra-small} {
        align-items: flex-start;
        flex-direction: column;
      }
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .priceAndShippingContainer {
        display: flex;
        gap: 5px;
        justify-content: flex-start;

        .price {
          font-size: fontSizes.$large;
          font-weight: bold;
        }

        .freeShipping {
          margin: auto 0;
        }
      }

      .address {
        margin: 3px;
      }
    }

    .title {
      @media #{mediaQuerySizes.$extra-small} {
        width: 100%;
      }
      font-weight: 500;
      margin-bottom: 10px;
      margin-top: 10px;
      text-decoration: none;
      width: 70%;
    }
  }
}
