@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/fontSizes' as fontSizes;
@use '~/scss/variables/mediaQuerySizes' as mediaQuerySizes;

.container {
  background-color: #fff;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;

  .mainInfoContainer {
    @media #{mediaQuerySizes.$tablet-mobile} {
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;

    .picturesContainer {
      @media #{mediaQuerySizes.$tablet-mobile} {
        width: 100%;
      }
      margin: 15px auto;
      max-width: 60%;
      min-width: 60%;
      text-align: center;
    }

    .informationContainer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 10px;
      margin: 25px;
      overflow: hidden;

      .conditionAndSoldCount {
        color: colors.$black;
      }

      .title {
        font-size: fontSizes.$large;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .price {
        .amount {
          font-size: fontSizes.$xxLarge;
        }

        .decimals {
          font-size: fontSizes.$xxLarge;
        }
      }
    }

    .buyButtonContainer {
      margin: 15px auto;
      width: 80%;
    }
  }

  .descriptionContainer {
    margin: 25px;

    .descriptionLabel {
      font-size: fontSizes.$large;
      margin: 15px auto 15px 0;
    }

    .description {
      @media #{mediaQuerySizes.$tablet-mobile} {
        width: 100%;
      }
      font-size: fontSizes.$small;
      line-height: 1.5;
      overflow: hidden;
      white-space: pre-wrap;
      width: 60%;
    }
  }
}
