@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/layout' as layout;

.header {
  background-color: colors.$primary;
  display: flex;
  flex-direction: row;
  height: layout.$headerHeight;
  max-width: 100%;
  width: 100%;

  &--dark {
    background-color: colors.$primary--dark;
  }

  .controlsContainer {
    align-items: center;
    display: flex;
    gap: 15px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    .searchTextForm {
      flex-grow: 1;
    }
  }
}
