@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/fontSizes' as fontSizes;
@use '~/scss/variables/layout' as layout;

.footer {
  background-color: colors.$primary;
  height: layout.$footerHeight;
  max-width: 100%;
  padding: 15px;
  width: 100%;

  &--dark {
    background-color: colors.$primary--dark;
  }

  .authorContainer {
    font-size: fontSizes.$large;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
