// Global styles for the app.
@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/fontSizes' as fontSizes;

* {
  box-sizing: border-box;
  color: colors.$black;
  font-size: fontSizes.$baseSize;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
