@use '~/scss/variables/mediaQuerySizes' as mediaQuerySizes;
@use '~/scss/variables/colors' as colors;
@use '~/scss/variables/fontSizes' as fontSizes;
@use '~/scss/variables/layout' as layout;

.container {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
